.listDiv{
  height: 300px;
  overflow:auto;
  margin: 20px 4px 10px 4px; 
}
.listContent{
  display: flex;
  justify-content: space-between;
  background-color: #423A6F;
  padding: 10px 5px;
  font-size: 18px;
  color: #f9f9f9;
  margin: 1.75px 0;
  
}
.editBtn{
  margin-right: 6px;
  cursor: pointer;
}
.delBtn{
  cursor: pointer;
}